.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 21.3rem;
    justify-content: space-between;
}

.content__title {
    color: var(--color-heading);
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
}

.content__paragraph {
    color: var(--color-paragraph);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
}